.herobackground{
    background-color: white;
    /* font-family: "Gulzar", serif; */
}

.gulzarfont{
        font-family: "Gulzar", serif;
}

.title{
    font-size: 50px;
}

.text{
    font-size: 20px;
}

.imageheight{
    height: 237px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }

.secondtitle{
    font-size: 40px;
    font-family: "Gulzar", serif;
}

.centeritems{
    text-align: center;
}

.extendbottom{
    margin-bottom: 10%;
}

.logoapple{
    width: 40%;
    margin-bottom: 10%;
    border-radius: 0;
}

.logoamzn{
    width: 100%;
    margin-bottom: -15.4%;
    margin-top: -10%;
    border-radius: 0;

}
.logotsla{
    width: 60%;
    margin-top: 1%;
    margin-bottom: 5%;
    border-radius: 0;

}

.logomsft{
    width: 39%;
    margin-top: 4%;
    margin-bottom: 6.3%;
    border-radius: 0;

}

.newssection{
    background-color: beige;
    padding-bottom: 5%;
    padding-top: 1%;
    margin-bottom: 2.5%;
}

.stocktitle{
    margin-bottom: 2.5%;
    font-size: 40px;
    font-family: "Gulzar", serif;
}

hr.solid {
    border-top: 4px solid #6D9886;
}

.widthsetting{
    width: 86%;
    margin-left: auto;
    margin-right: auto;
}

.arrows{
    width: 6%;
}

.homeplot{
    margin-top: -8%;
    max-width: 1200px;
}

.spynews{
    background-color: white;
}

.errornotif{
    margin-top: 1%;
    background-color:white;
    border-color: #343a40;
    border-style: solid;
    border-width: 2.5px;
    width: 25%;
    font-size: 20px;
    font-weight: bold;
    color: red;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

html {background-color: #212529}