.informationtable{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    max-width: inherit;
}

.symbol_page_title{
    margin-top: 1%;
    background-color:white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}