{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title> {% block title %}{% endblock title %} | Stock Tracker</title>
    <link rel = "icon" href = "/static/logo.png" type = "image/x-icon"/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Gulzar&family=Oswald:wght@200;300;400;500;600;700&display=swap');
    </style>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet" 
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
      crossorigin="anonymous"
    />
    {% block additionallinks %}{% endblock additionallinks %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style = "height: 75px">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" style = "padding-top: 9px; font-size: 18px">
          <img src="/static/logo.png" alt="" width=60px height= 60px >
          Stock Tracker
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse bg-dark" id="navbarSupportedContent" style = "color: white;">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/About" style = "color: white;">About</a>
            </li>
          </ul>
              {% if user.is_authenticated%}
              <form class="d-flex" role="search" method=POST action={% url 'search'%} style = "margin-right:1%;">
                {% csrf_token %}
                <input required class="form-control me-2" type="search" placeholder="Search Symbol" aria-label="Search"  name="searched">
                <button class="btn btn-outline-secondary" type="submit"  style = "color: white; margin-left:auto;">Search</button>
              </form>
              <form class="d-flex" role="search" method=POST action="/logout"} >
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary" style = "margin-right:1%;">
                  Logout
                </button>
              </form>
              <a class="nav-link active" aria-current="page" href="/" style = "margin-left:1%;">Hello {{request.user}}</a> 
              {% else %}
              <form class="d-flex" role="search" method=POST action={% url 'search'%} >
                {% csrf_token %}
                <input required class="form-control me-2" type="search" placeholder="Search Symbol" aria-label="Search"  name="searched">
                <button class="btn btn-outline-secondary" type="submit"  style = "color: white; margin-left:auto;">Search</button>
              </form>
              <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#loginModal" style = "margin-left:0.5%;">
                Login
              </button>
              <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#signupModal" style = "margin-left:0.5%;">
                Signup
              </button>
              {%endif%}
        </div>
      </div>
    </nav>

    <!-- Button trigger modal -->


<!-- Sign Up Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signupModal">Sign Up</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action = "/signup" method = "POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="UsernameInput" class="form-label">Username</label>
            <input type="username" class="form-control" id="UsernameInput" aria-describedby="UsernameInput" name = "signupusername" required>
          </div>
          <div class="mb-3">
            <label for="InputEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="InputEmail" aria-describedby="InputEmail" name = "signupemail" required>
          </div>
          <div class="mb-3">
            <label for="InputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="InputPassword" name = "signuppassword" required>
          </div>
          <button type="submit" class="btn btn-primary d-flex" style = "margin-left: auto;">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModal">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action = "/login" method = "POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="InputUsername" class="form-label">Username</label>
            <input type="username" class="form-control" id="loginusername" aria-describedby="InputEmail" name = "loginusername">
          </div>
          <div class="mb-3">
            <label for="InputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="loginpassword" name = "loginpassword">
          </div>
          <button type="submit" class="btn btn-primary d-flex" style = "margin-left: auto;">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% if messages %}
    {% for message in messages %}
      <div class = "successmade">{{message}}</div>
    {% endfor %}
{% endif %}


    {% block body %}
    {% endblock body %}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </body>
</html>
