{% extends 'base.html' %}
{% load static %}
{% load dicacces %}



{% block additionallinks %}<link rel="stylesheet" href="{% static 'home.css' %}" />
{% endblock additionallinks %}

{% block title %}Home{% endblock title %}



{% block body %}

{% if valid_symbol == False %}
<div class = "errornotif">No Such Symbol Exists!</div>
{% endif %}



<div class = "herobackground">
  <div class="container col-xxl-8 px-4 py-5 h-100">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/static/heroimage.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="1000" height="1000" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3 gulzarfont title">Stock Market Tracker</h1>
        <p class="lead text">A tool to track your stock portfolio and the latest news regarding the stock market, crypto currencies and exchange rates. </p>
      </div>
    </div>
  </div>
</div> 




<div class="album newssection">
  <div class="px-4 pt-2 my-5 text-center">
    <h1 class="col-lg-12 fw-bold secondtitle mx-auto">Trending Financial News</h1>
    <div class="col-lg-12 mx-auto stockt">
      <hr class="solid widthsetting">
    </div>
  </div>
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col d-flex align-items-stretch">
        <div class="card shadow-sm">
          <img src="{{first_news_image}}" class="card-img-top imageheight" alt="Headline Image">
          <div class="card-body">
            <p class="card-text">{{first_news_title}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{{first_news_url}}" target="_blank">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-stretch">
        <div class="card shadow-sm">
          <img src="{{second_news_image}}" class="card-img-top imageheight" alt="Headline Image">
          <div class="card-body">
            <p class="card-text line-clamp">{{second_news_title}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href={{second_news_url}} target="_blank">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-stretch">
        <div class="card shadow-sm">
          <img src="{{third_news_image}}" class="card-img-top imageheight" alt="Headline Image">
          <div class="card-body">
            <p class="card-text">{{third_news_title}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href={{third_news_url}} target="_blank">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




  <div class="container marketing py-5">

    <!-- Three columns of text below the carousel -->
    <div class="row centeritems">
      <div class="col-lg-12 mx-auto stocktitle">
        <div class="mb-4">
          <h6 class="secondtitle fw-bold">Trending Stocks</h6>
          <!-- Solid divider -->
          <hr class="solid">
      </div>
    </div>
      <div class="col-lg-3">
        <img src="{% static 'applelogo.png' %}" class="rounded-circle logoapple" alt="Apple Logo">
        <h2 class="fw-bold">AAPL</h2>
        <h5 class = "fw-semibold">% Change:
        {%if AAPL_price_change >= 0 %}
          <img src={% static 'greenarrow.png' %} class = "arrows" alt="green up arrow">
        {%else%}
          <img src={% static 'redarrow.png' %} class = "arrows" alt="red down arrow">
        {%endif%}

        {{AAPL_price_change}}%
        </h5>
        <h5 class = "fw-semibold">Current Price: ${{AAPL_current_price}}</h5>
        <p><a class="btn btn-secondary" style = "margin-top: 10%;" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3">
        <img src="{% static 'amazonlogo.png' %}" class="rounded-circle logoamzn" alt="Amazon Logo">
        <h2 class="fw-bold">AMZN</h2>
        <h5 class = "fw-semibold">% Change:
          {%if AMZN_price_change >= 0 %}
            <img src={% static 'greenarrow.png' %} class = "arrows" alt="green up arrow">
          {%else%}
            <img src={% static 'redarrow.png' %}  class = "arrows" alt= "red down arrow">
          {%endif%}
  
          {{AMZN_price_change}}%
          </h5>
          <h5 class = "fw-semibold">Current Price: ${{AMZN_current_price}}</h5>
        <p><a class="btn btn-secondary" href="#" style = "margin-top: 10%;">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3">
        <img src="{% static 'Teslalogo.png' %}" class="rounded-circle logotsla" alt="Tesla Logo">
        <h2 class="fw-bold">TSLA</h2>
        <h5 class = "fw-semibold">% Change:
          {%if TSLA_price_change >= 0 %}
            <img src={% static 'greenarrow.png' %} class = "arrows" alt="green up arrow">
          {%else%}
            <img src={% static 'redarrow.png' %}  class = "arrows"alt="red down arrow">
          {%endif%}
  
          {{TSLA_price_change}}%
          </h5>
          <h5 class = "fw-semibold">Current Price: ${{TSLA_current_price}}</h5>
        <p><a class="btn btn-secondary" href="#" style = "margin-top: 10%;">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3">
        <img src="{% static 'msftlogo.png' %}" class="logomsft" alt="Microsoft Logo">
        <h2 class="fw-bold">MSFT</h2>
        <h5 class = "fw-semibold">% Change:
          {%if MSFT_price_change >= 0 %}
            <img src={% static 'greenarrow.png' %} class = "arrows" alt="green up arrow">
          {%else%}
            <img src={% static 'redarrow.png' %} class = "arrows" alt="red down arrow">
          {%endif%}
  
          {{MSFT_price_change}}%
          </h5>
          <h5 class = "fw-semibold">Current Price: ${{MSFT_current_price}}</h5>
        <p><a class="btn btn-secondary" href="#" style = "margin-top: 10%;">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>

  <div class = "container py-5">
    <div class="row centeritems">
      <div class="col-lg-12 mx-auto stocktitle">
        <div class="mb-4">
          <h6 class="secondtitle fw-bold">Performance of the S&P 500</h6>
          <!-- Solid divider -->
          <hr class="solid">
        </div>
      </div>
    </div
  </div>

  <div class = "container homeplot">
    <body>
      {% autoescape off %}
      {{plot}}
      {% endautoescape %}
    </body>
  </div>


  <div class="album newssection spynews">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% include 'newsTemplate.html' with news_image=news1|get:"image" news_title=news1|get:"title" news_url=news1|get:"link" only%}
        {% include 'newsTemplate.html' with news_image=news2|get:"image" news_title=news2|get:"title" news_url=news2|get:"link" only%}
        {% include 'newsTemplate.html' with news_image=news3|get:"image" news_title=news3|get:"title" news_url=news3|get:"link" only%}
      </div
    </div>
  </div>

{% endblock body %}
