{% extends 'base.html' %}
{% load static %}


{% block additionallinks %}<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}" />
{% endblock additionallinks %}

{% block title %}Home{% endblock title %}



{% block body %}
<div class = "herobackground">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/static/heroimage.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="1000" height="1000" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3 gulzarfont title">Stock Market Tracker</h1>
        <p class="lead text">A tool to track your stock portfolio and the latest news regarding the stock market, crypto currencies and exchange rates. </p>
      </div>
    </div>
  </div>
</div> 


{% endblock body %}
