
    <div class="col d-flex align-items-stretch">
      <div class="card shadow-sm">
        <img src="{{news_image}}" class="card-img-top imageheight" alt="Headline Image" style = "object-fit: cover;">
        <div class="card-body">
          <p class="card-text">{{news_title}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="{{news_url}}" target="_blank">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>


